<section style="margin-top: 80px;">
    <div class="container">
        <button routerLink="./add">add Category</button>
        <div>
            <p-table [value]="Categories" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr>
                        <td>
                            <span>
                                <img src="" alt="product"/>
                            </span>
                            <span>
                                {{category.name}}
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-danger mx-2" (click)="handleDelete(category._id)">delete</button>
                            <button class="btn btn-info mx-2">update</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</section>

