<div class="container" style="margin-top: 50px;">
    <div class="row">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="col-md-6">
                <input formControlName="name" type="text" class="form-control" placeholder="category name"/>
            </div>
            <div class="col-md-6">
               <input formArrayName="img" (change)="setFileValue($event)" type="file"/>
            </div>
            <button [disabled]="!myForm.valid">Submit</button>
        </form>
    </div>
</div>

